* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Exo-Regular";
	src: url(../font/exo/Exo-Regular.otf);
}

@font-face {
	font-family: "Exo-Italic";
	src: url(../font/exo/Exo-Regular-Italic.otf);
}

@font-face {
	font-family: "Exo-Thin";
	src: url(../font/exo/Exo-Thin.otf);
}

body {
	max-width: 1440px;
	margin: 0 auto;
}

/* * start HEADER */
header {
	height: 813px;
	background: url(../image/header_bg.png) no-repeat top center;
}

h1 {
	margin: 0 auto;
	padding-top: 215px;
	padding-left: 3px;
	width: 730px;
	color: #282828;
	opacity: 80%;
	font-family: "Exo-Thin", Arial, Helvetica, sans-serif;
	font-size: 60px;
	letter-spacing: 2.4px;
	line-height: 75px;
	text-align: center;
}

.play-icon {
	display: block;
	margin: 41px auto 0;
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background: url(../image/header_play_video-icon.png);
}

.button {
	margin: 39px auto 0;
	padding-left: 3px;
	width: 190px;
	height: 50px;
	border-radius: 3px;
	background-color: #ff6d6d;
	color: #ffffff;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 3.2px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}

header > p {
	margin-top: 16px;
	opacity: 0.6;
	color: #282828;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 0.56px;
	line-height: normal;
	text-align: center;
}
/* ! end HEADER */

/* * start SECTION.new-design */
section.new-design {
	height: 724px;
	background: url(../image/section-bg-right.png) no-repeat top center;
}

.container-new-design {
	width: 730px;
	padding-left: 149px;
	padding-top: 186px;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
}

.name-new-design {
	padding-left: 1px;
	color: #ff6d6d;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 3.2px;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
}

.title-new-design {
	padding-top: 5px;
	color: #282828;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 1.6px;
	line-height: 50px;
}

.description-new-design {
	margin-top: 37px;
	opacity: 0.66;
	color: #282828;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.65px;
	line-height: 26.5px;
}

.dotted {
	color: #ff6d6d;
}
/* ! end SECTION.new-design */

/* * start SECTION.new-features */
section.new-features {
	height: 675px;
	background: url(../image/section-bg-nf.png) no-repeat top center;
}
/*.earphones {
}
.coffee-cup {
}
.pen-holder {
}*/
.container-new-features {
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #282828;
	text-align: center;
}
.name-new-features {
	padding-top: 132px;
	padding-left: 2px;
	color: #ff6d6d;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 3.2px;
	text-align: center;
	text-transform: uppercase;
}

.title-new-features {
	padding-top: 3px;
	padding-left: 2px;
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 1.6px;
}

.horizontal-grid {
	padding: 77px 160px 184px;
	display: flex;
	justify-content: space-between;
}

.horizontal-grid p {
	width: 342px;
}

.horizontal-grid .header {
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0.04em;
}
.horizontal-grid .text {
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.04em;
	opacity: 0.66;
}

div.horizontal-grid img {
	display: block;
	margin: 0 auto;
	width: 65px;
	height: 65px;
}
