* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Exo-Regular";
	src: url(../font/Exo/Exo-Regular.ttf);
}

body {
	max-width: 1440px;
	margin: 0 auto;
}

/* * start HEADER */
header {
	height: 813px;
	background: url(../image/header_bg.png) no-repeat top center;
}

h1 {
	margin: 0 auto;
	padding-top: 214px;
	width: 750px;
	text-align: center;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 60px;
	line-height: 73px;
	letter-spacing: 0.04em;
}

.play-icon {
	display: block;
	width: 59px;
	height: 59px;
	margin: 45px auto 0;
	border-radius: 50%;
	background: url(../image/header_play_video-icon.png);
}

.button {
	width: 190px;
	height: 50px;
	margin: 40px auto 0;
	background-color: #ff6d6d;
	border-radius: 3px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.2em;
	line-height: 50px;
}

header > p {
	margin-top: 16px;
	text-align: center;
	color: #989899;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
}
/* ! end HEADER */

/* * start SECTION.new-design */
section {
	height: 724px;
	background: url(../image/section-bg-right.png) no-repeat right top;
}

.conteiner-text {
	width: 590px;
	padding-left: 150px;
	padding-top: 186px;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.preview-new-design {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	color: #ff6d6d;
}

.header-new-design {
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.04em;
}

.description-new-design {
	margin-top: 35px;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.04em;
}

.dotted {
	color: #ff6d6d;
}

/* .latin {
	
}
*/
/* ! end SECTION.new-design */
