* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Exo-Regular";
	src: url(../font/exo/Exo-Regular.otf);
}

@font-face {
	font-family: "Exo-Italic";
	src: url(../font/exo/Exo-Regular-Italic.otf);
}

@font-face {
	font-family: "Exo-Thin";
	src: url(../font/exo/Exo-Thin.otf);
}

/* @font-face { */
/* font-family: "Lato"; */
/* src: url(../font/); */

body {
	max-width: 1440px;
	margin: 0 auto;
}

/* * start HEADER */
header {
	height: 813px;
	background: url(../image/header-bg.png) no-repeat top center;
}

h1 {
	margin: 0 auto;
	padding-top: 215px;
	padding-left: 3px;
	width: 730px;
	color: #282828;
	opacity: 80%;
	font-family: "Exo-Thin", Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 60px;
	letter-spacing: 2.4px;
	line-height: 75px;
	text-align: center;
}

.play-icon {
	display: block;
	margin: 41px auto 0;
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background: url(../image/header-play.png);
}

.button {
	margin: 39px auto 0;
	padding-left: 3px;
	width: 190px;
	height: 50px;
	border-radius: 3px;
	background-color: #ff6d6d;
	color: #ffffff;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 3.2px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}

header > p {
	margin-top: 16px;
	opacity: 0.6;
	color: #282828;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 0.56px;
	line-height: normal;
	text-align: center;
}
/* ! end HEADER */

/* * start SECTION1.new-design */
section.new-design {
	height: 724px;
	background: url(../image/section1-bg.png) no-repeat top center;
}

.section1-block-new-design {
	padding-left: 149px;
	padding-top: 186px;
}

.section1-block-new-design__item {
	padding-top: 1px;
	padding-left: 1px;
}

.section1-block-new-design__title {
	padding-top: 4px;
}

.section1-block-new-design__text1 {
	margin-top: 38px;
}

.section1-block-new-design__text2 {
	margin-top: 25px;
}

.block-new-design {
	width: 730px;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
}

.block-new-design__item {
	color: #ff6d6d;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 3.2px;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
}

.block-new-design__title {
	color: #282828;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 1.6px;
	line-height: 50px;
}

.block-new-design__text {
	opacity: 0.66;
	color: #282828;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.66px;
	line-height: 27px;
}

.block-new-design__dotted {
	color: #ff6d6d;
}
/* ! end SECTION1.new-design */

/* * start SECTION2.new-features */
section.new-features {
	height: 675px;
	background: url(../image/section2-bg.png) no-repeat top center;
}

.block-new-features {
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #282828;
	text-align: center;
}

.section2-block-new-features__item {
	padding-top: 134px;
	padding-left: 2px;
}

.section2-block-new-features__title {
	padding-left: 1px;
	padding-top: 1px;
}

.block-new-features__item {
	color: #ff6d6d;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 3.2px;
	text-align: center;
	text-transform: uppercase;
}

.block-new-features__title {
	font-size: 40px;
	font-weight: 500;
	line-height: normal;
	text-align: center;
	letter-spacing: 1.6px;
}

.section2-block-flex {
	padding: 77px 160px 184px;
}

.section2-block-flex__item2 {
	padding-right: 3px;
}

.block-flex {
	display: flex;
	justify-content: space-between;
}
.block-flex__item {
	padding-top: 4px;
	width: 342px;
}

.block-flex__header {
	padding-top: 17px;
	font-size: 22px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: 0.88px;
	text-align: center;
	font-style: normal;
}
.block-flex__text {
	margin: 0 auto;
	width: 342px;
	height: 70px;
	opacity: 0.66;
	font-size: 16px;
	font-weight: 500;
	line-height: 27px;
	letter-spacing: 0.62px;
	text-align: center;
}

.block-flex__img {
	display: block;
	margin: 0 auto;
	width: 65px;
	height: 65px;
}
/* ! end SECTION1.new-features */

/* * start SECTION3.macbook */
section.macbook {
	height: 550px;
	background: url(../image/section3-bg.png) no-repeat top center;
}

.block-macbook {
	float: left;
	padding: 93px 0 0 55px;
}
.section3-block-new-design {
	float: left;
	max-width: 550px;
	padding: 137px 0 0 52px;
	text-align: left;
}

.section3-block-new-design__item {
	padding-left: 1px;
}

.section3-block-new-design__title {
	padding-top: 13px;
}

.section3-block-new-design__text {
	padding-top: 30px;
}
/* ! end SECTION3.macbook */

/* * start SECTION4.clients */
section.clients {
	height: 648px;
	background: url(../image/section4-bg.png) no-repeat top center;
}

.clients-block-flex {
	display: flex;
	justify-content: space-between;
	padding: 108px 135px 0 133px;
}
.clients-block-flex__item {
	width: 330px;
	margin: 0 auto;
	text-align: center;
}
.clients-block-flex__rectangle {
	width: 79px;
	height: 79px;
	margin: 0 auto;
	border: 2px solid #1d1e24;
	background-color: #4e4e5e;
}

.clients-block-flex__header {
	padding-top: 20px;
	color: #ffffff;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 0.88px;
}
.clients-block-flex__co-founder {
	padding-top: 2px;
	padding-left: 2px;
	color: #ff6d6d;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: normal;
}

.clients-block-flex__item2 {
	padding-left: 1px;
}

.clients-block-flex__text {
	width: 330px;
	padding-top: 25px;
	opacity: 0.66;
	color: #ffffff;
	font-family: "Exo-Italic", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	line-height: 27px;
	letter-spacing: 0.64px;
}

.logo-block-flex {
	display: flex;
	padding: 80px 241px 80px 236px;
	justify-content: space-between;
}

.logo-block-flex img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

a.logo1 {
	width: 130px;
	height: 65px;
	position: relative;
	bottom: 4px;
}

a.logo2 {
	width: 110px;
	height: 56px;
	position: relative;
	right: 13px;
}

a.logo3 {
	width: 98px;
	height: 85px;
	position: relative;
	right: 10px;
	bottom: 14px;
}

a.logo4 {
	width: 95px;
	height: 61px;
	position: relative;
	left: 1px;
	bottom: 2px;
}

a.logo5 {
	width: 120px;
	height: 54px;
}
/* ! end SECTION4.clients */

/* * start SECTION5.browser */
section.browser {
	height: 754px;
	background-color: #f6f5f3;
}

.section5-block-new-features {
	padding-top: 104px;
	padding-left: 2px;
}

.section5-block-new-features__title {
	line-height: 30px;
	padding-top: 13px;
}

.section5-block-new-features__text {
	width: 655px;
	margin: 0 auto;
	padding-top: 42px;
	padding-right: 4px;
	opacity: 0.66;
	color: #282828;
	font-size: 16px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0.64px;
}

.browser-img {
	display: block;
	margin: 90px auto;
}
/* ! end SECTION5.browser */

/* * start SECTION6.forms */
section.forms {
	position: relative;
	z-index: 1;
	height: 467px;
	background-color: #323969;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
}

.section6-block-new-features {
	padding-top: 94px;
	padding-left: 2px;
}

.section6-block-new-features__title {
	color: #ffffff;
	line-height: 52px;
	padding-top: 3px;
}

.trial {
	position: absolute;
	top: 201px;
	right: 180px;
	width: auto;
	height: 18px;
	color: #f6f5f3;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.64px;
}

.forms > img {
	position: absolute;
	top: 205px;
	right: 352px;
}

form {
	display: flex;
	justify-content: space-between;
	width: 1140px;
	margin: 94px auto 0;
}

.block-forms__input {
	width: 263px;
	height: 49px;
	border-radius: 3px;
	border: 1px solid #ffffff;
	background: #454c77;
	font-size: 16px;
	font-weight: 400;
	line-height: 75px;
	color: #f6f5f3;
	opacity: 0.5;
	text-align: left;
	text-indent: 26px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

.email {
	letter-spacing: -0.55px;
}
.password {
	position: relative;
	right: 2px;
	letter-spacing: -0.55px;
}

.block-forms__button {
	position: relative;
	bottom: 1px;
	width: 258px;
	height: 50px;
	box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
	border-radius: 3px;
	border: 1px solid #ff6d6d;
	background-color: #ff6d6d;
	color: #f6f5f3;
	font-size: 16px;
	font-weight: 100;
	line-height: 50px;
	text-align: center;
	text-indent: -7px;
	text-transform: uppercase;
	letter-spacing: -1.7px;
}

.section6-bottom-text {
	margin: 46px auto 0;
	padding-right: 1px;
	width: auto;
	height: 17px;
	opacity: 0.6;
	color: #f6f5f3;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.64px;
}

.section6-bottom-link {
	color: #f6f5f3;
}
/* ! end SECTION6.forms */

/* * start FOOTER */

footer {
	position: absolute;
	height: 332px;
	background: url(../image/footer-bg.png) no-repeat top center;
}

.footer-block-grid {
	margin: 79px 338px 102px 149px;
	width: 955px;
	height: 155px;
	display: grid;
	grid-template-rows: 30fr 90fr;
	grid-template-columns: 215fr 107fr 110fr 260fr;
	font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
}

.footer-block-grid__start {
	padding-left: 4px;
	width: 92px;
	height: 20px;
	color: #2c2f49;
	font-family: Lato;
	font-size: 27px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 50px;
	text-align: left;
}

.footer-block-grid__title {
	color: #282828;
	font-size: 22px;
	font-weight: 500;
	line-height: 50px;
	text-align: left;
	letter-spacing: 0.88px;
}

.text1 {
	padding-left: 1px;
}

.title2,
.text2 {
	padding-left: 50px;
}

.title3 {
	padding-left: 90px;
}

.footer-block-grid__text-start {
	padding-top: 7px;
	width: 232px;
	height: 89px;
	opacity: 0.56;
	color: #282828;
	font-size: 14px;
	font-weight: 500;
	line-height: 26.5px;
	text-align: left;
	letter-spacing: 0.56px;
}

.footer-block-grid__text {
	padding-top: 4px;
	height: 72px;
	opacity: 0.66;
	color: #282828;
	font-size: 14px;
	font-weight: 400;
	line-height: 31px;
	text-align: left;
	letter-spacing: 0.56px;
}
